USE DataWarehouse;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ---------------------------------------------------------
       -- BULK INSERT
-- ---------------------------------------------------------
ALTER   PROCEDURE bronze.load_bronze AS
BEGIN 
	DECLARE @batch_start_time DATETIME;
	DECLARE @batch_end_time DATETIME;
	DECLARE @start_time DATETIME; 
	DECLARE @end_time DATETIME;
	BEGIN TRY
		SET @batch_start_time = GETDATE();
		PRINT '********************************************************';
		PRINT '               Loading bronze layer Data Tables                      '
		PRINT '********************************************************';
		PRINT ' ---------- Loading CRM Tables --------------------------';

		-- CRM TABLE BULK INsert -------------------
		SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.crm_cust_info';
		TRUNCATE TABLE bronze.crm_cust_info;
		PRINT '>> Inserting data into table : bronze.crm_cust_info';
		BULK INSERT bronze.crm_cust_info 
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_crm\cust_info.csv'
		WITH (
				FIRSTROW = 2,
				FIELDTERMINATOR =',',
				TABLOCK
				);
		SET @end_time = GETDATE();
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';


		SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.crm_prd_info';
		TRUNCATE TABLE bronze.crm_prd_info;
		PRINT '>> Inserting data into : bronze.crm_prd_info';
		BULK INSERT bronze.crm_prd_info
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_crm\prd_info.csv'
		WITH (
				FIRSTROW = 2,
				FIELDTERMINATOR =',',
				TABLOCK
				);

		SET @end_time = GETDATE();
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';

		
		SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.crm_sales_details ';
		TRUNCATE TABLE bronze.crm_sales_details;
		PRINT '>> Inserting data into table : bronze.crm_sales_details ';
		BULK INSERT bronze.crm_sales_details
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_crm\sales_details.csv'
		WITH (
				FIRSTROW = 2,
				FIELDTERMINATOR =',',
				TABLOCK
				);
		SET @end_time = GETDATE();
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';



		-- --ERP TAble BULK INSERT -------------------------------
		PRINT ' ---------- Loading ERP Tables --------------------------';

		SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.erp_cust_az12';
		TRUNCATE TABLE bronze.erp_cust_az12;
		PRINT '>> Inserting data into table : bronze.erp_cust_az12';
		BULK INSERT bronze.erp_cust_az12
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_erp\CUST_AZ12.csv'
		WITH (
			FIRSTROW =2,
			FIELDTERMINATOR = ',',
			TABLOCK
			);
		SET @end_time = GETDATE();
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';


	    SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.erp_loc_a101';
		TRUNCATE TABLE bronze.erp_loc_a101;
		PRINT '>> Inserting data into table : bronze.erp_loc_a101';
		BULK INSERT bronze.erp_loc_a101
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_erp\LOC_A101.csv'
		WITH (
			FIRSTROW =2,
			FIELDTERMINATOR = ',',
			TABLOCK
			);

		SET @end_time = GETDATE()
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';


		SET @start_time = GETDATE();
		PRINT '>> Truncating table : bronze.erp_px_cat_g1v2';
		TRUNCATE TABLE bronze.erp_px_cat_g1v2;
		PRINT '>> Inserting data into table : bronze.erp_px_cat_g1v2';
		BULK INSERT bronze.erp_px_cat_g1v2
		FROM 'D:\CDac_Banglore\SQL_Poject\sql-data-warehouse-project\datasets\source_erp\PX_CAT_G1V2.csv'
		WITH (
			FIRSTROW =2,
			FIELDTERMINATOR = ',',
			TABLOCK
			);
		SET @end_time = GETDATE()
		PRINT ' Load Duration : '+ CAST(DATEDIFF(second,@start_time, @end_time) AS NVARCHAR(50))+' seconds';

		

		SET @batch_end_time = GETDATE();
		

		PRINT '==========================================';
		PRINT 'Loading Bronze Layer is Completed';
        PRINT ' BATCH Load Duration : '+ CAST(DATEDIFF(second,@batch_start_time, @batch_end_time) AS NVARCHAR(50))+' seconds';
		PRINT '==========================================';

	END TRY
	BEGIN CATCH
		PRINT '=======================================================';
		PRINT '         ERROR OCCURED DURING BRONZE LAYER             '
		PRINT '=======================================================';
		PRINT 'ERROR Message '+ ERROR_MESSAGE();
		PRINT 'ERROR Message '+ CAST (ERROR_NUMBER() AS NVARCHAR(50));
		PRINT 'ERROR State'+ CAST(ERROR_STATE() AS NVARCHAR(50));
		PRINT '=======================================================';
	END CATCH

END;